@import './../../../../scss/colors';

.message{
    margin: .6rem .4rem;
    border: solid $greyLight 1px;
    border-radius: 6px;

    
    &Hover{
        opacity: .85;
        cursor: pointer;
        
        &:hover{
            opacity: 1;
            border: solid rgba($whiteLight, 1) 1px;
        }
    }

    transition: border .05s;

    &From{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding-left: .2rem;
        padding: .2rem .4rem;

        &User{
            display: flex;
            align-items: center;
            font-size: .8rem;

            &Image{
                margin-right: .6rem;
                width: 1.6rem;
                height: 1.6rem;
                background-size: 100% 100% !important;
                background-repeat: no-repeat;
                border-radius: 50%;
                background-position: center;
                background-color: $white;
            }
        }
    }

    &SentTime{
        font-size: .75rem;
        //color: $grey;
    }

    &Content{
        word-break: break-all;
        max-width: 100%;
        background-color: $whiteLight;
        padding: .6rem;
        font-size: .8rem;
        line-height: 1rem;
    }
}