@import './../../scss/colors';

.button{
    background: linear-gradient(to right, $greyLight, $white) !important;
    border-bottom: 1px solid $greyLight !important;
    border-right: 1px solid $greyLight !important;

    &:hover{
        opacity: .85;
    }
}

.addIcon{
    color: $greenLight;
    font-size: 1.6rem;
    margin-right: 1rem;
}