@import './../../../../scss/colors';

.wrapper{
    background-color: $white;
    padding: 1.2rem;

    &Title{
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $greyDark;
        margin-bottom: 1rem;
    }
}

.exp{
    &Wrapper{
        display: flex;
        margin-bottom: 2rem;
        position: relative;
    }

    &Image{
        background-size: cover;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }

    &Location{
        color: $grey;
    }
}

.noExpView{
    color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    padding-bottom: 4.6rem;
}

.removeExpButton{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(0%, -50%);

    font-size: 1.4rem;
    color: $red;
    cursor: pointer;

    &:hover{
        color: $redLight;
    }
}