@import './../../../../scss/colors';

.wrapper{
    background-color: $white;
    padding: 1.2rem;
}

.exp{
    &Wrapper{
        display: flex;
        margin-bottom: 2rem;
    }

    &Image{
        background-size: cover;
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }

    &Location{
        color: $grey;
    }
}