@import './../../../../scss/colors';

.wrapper{
    background-color: $white;
    padding: 1.2rem;
}

.expWrapper{
    display: flex;
    margin-bottom: 2rem;
}

.expImage{
    background-size: cover;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}