@import './../../../scss/colors';

.user{
    &Header{
        display: flex;
        background-color: $white;
        padding: 3rem 0;
        border-radius: 4px;
        position: relative;

        &Title{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &Name{
        color: $greyDark;
        margin-left: 1rem !important;
    }
    
    &Image{
        background-image: url('./../../../images/userImage.png');
        width: 10rem;
        height: 10rem;
        background-size: cover;
        margin-left: 4rem;
    }

    &Rating{
        position: absolute;
        bottom: .4rem;
        right: .8rem;

        display: flex;
    }
}