@import './../../../scss/colors';
@import './../../../scss/mixins';

.user{
    &Header{
        display: flex;
        background-color: $white;
        //background-image: url('./../../../images/blurred-background-1.jpg');
        background-size: cover;
        padding: 3rem 0;
        border-radius: 4px;
        position: relative;

        &Title{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10rem;
        }
    }

    &Name{
        color: $greyDark;
        margin-left: 1rem !important;
    }
    
    &Image{
        position: relative;
        width: 10rem;
        height: 10rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 4rem;
        border-radius: 50%;
        border: solid 1px $whiteDark;

        transition: opacity .5s;
        

        &Hover{
            opacity: 1;
            cursor: pointer;
            transition: opacity .15s;

            &:hover{

                &::after{
                    content: "";
                    display: block;
                    @include centerDivAbsolute;

                    width: 40%;
                    height: 40%;

                    opacity: .5;

                    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-128.png');
                    background-size: cover;
                }
            }
        }
    }
}

.messageUserFab{
    background-color: $whiteLight !important;
    border: solid 1px $whiteDark !important;
    position: absolute !important;
    box-shadow: none !important;
    bottom: 1.6rem;
    left: 14rem;

    font-size: 1.4rem !important;
    color: $blue !important;

    &:hover{
        color: $yellow !important;
    }
}

.loader{
    @include centerDivAbsolute;
}