@import './../../../scss/colors';
@import './../../../scss/mixins';

.user{
    &Header{
        display: flex;
        background-color: $white;
        //background-image: url('./../../../images/blurred-background-1.jpg');
        background-size: cover;
        padding: 3rem 0;
        border-radius: 4px;
        position: relative;

        &Title{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10rem;
        }
    }

    &Name{
        color: $greyDark;
        margin-left: 1rem !important;
    }
    
    &Image{
        position: relative;
        width: 10rem;
        height: 10rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 4rem;
        border-radius: 50%;
        border: solid 1px $whiteDark;

        cursor: pointer;
        transition: opacity .5s;

        &:hover{
            opacity: .85;
        }
    }
}

.messageUserFab{
    background-color: $whiteLight !important;
    border: solid 1px $whiteDark !important;
    position: absolute !important;
    box-shadow: none !important;
    bottom: 1.6rem;
    left: 14rem;

    font-size: 1.4rem !important;
    color: $blue !important;

    &:hover{
        color: $yellow !important;
    }
}

.favoriteUser{
    position: absolute;
    font-size: 2rem;
    top: 0;
    right: 1rem;
    color: $redLight;
    cursor: pointer;
}

.customizeHeader{
    &Wrapper{
        position: absolute;
        top: 0;
        right: 0;
    }

    &Button{
        margin: .6rem;
        font-size: 2rem;
        color: $greyDark;
        cursor: pointer;

        &:hover{
            opacity: .85;
        }
    }
}

.loader{
    @include centerDivAbsolute;
}