@import './../../../scss/colors';

.drawerMenu{
    background: linear-gradient($greyDark, $blackLight);
    height: 100%;

    &Icon{
        font-size: 1.6rem;
        color: $yellowDark !important;
    }
    
    &Text{
        color: $white;
        text-decoration: none !important;
    }
}

