@import './../../scss/colors';

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    border-bottom: 1px solid $greyDark;
}

.menuIcon{
    color: $white;
}

.logo{
    background-image: url('./../../images/logo_transparent.png');
    background-size: cover;
    width: 4.8rem;
    height: 4.8rem;
}