@import './../../scss/colors';

.wrapper{
    background-color: rgba($black, .85) !important;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border-bottom: 1px solid $greyDark;
}

.menuIcon{
    color: $white;
}

.logo{
    background-image: url('./../../images/logo_transparent.png');
    background-size: cover;
    width: 4.2rem;
    height: 4.2rem;
}