@import './../../../../scss/colors';

.filters{
    &Wrapper{
        padding: .8rem 0 !important;
        background: linear-gradient($white, $whiteLight);
        text-align: center;
        height: 30rem;
        overflow: hidden;
    }

    &Bar{
        background-color: $greyLight !important;
        margin-top: 1.2rem;
        color: $greyDark !important;
    }

    &Title{
        color: $greyDark;
    }
}

.filterTabWrapper{
    background: linear-gradient(to right, $white, $whiteDark);
    width: 40rem;
    height: 100%;
}