@import './../../../scss/colors';
@import './../../../scss/mixins';

.wrapper{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: $white;
    border: rgba($blueLight, .4) solid 2px;

    width: 24rem;
    height: 24rem;
    
    //clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 84% 84%, 84% 100%, 60% 84%, 0% 84%);
}

.messagesMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $blueLight;
    background: linear-gradient($white, $whiteDark);
    height: 24rem;

    &Icon{
        cursor: pointer;
        width: 100%;
        padding: .8rem 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $blueLight;

        &:nth-child(1){
            color: $grey;
        }

        &:hover{
            background-color: rgba($blueLight, .3);
        }

        &:not(:last-child){
            border-bottom: 1px $greyLight solid;

        }
    }
}

.messagesList{
    width: 100%;
    height: 100%;
    position: relative;
}