@import './../../../../../scss/colors';

.expWrapper{
    padding-top: 2rem;
    color: $blackLight;
}

.inputBlock{
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textField{
    width: 3.4rem;
    margin: 0 2rem !important;
}

.slider{
    width: 75%;
    position: relative;

    &Rail{
        position: absolute;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-color: $grey;
    }
}