@import './../../../../../scss/colors';

.expWrapper{
    background: linear-gradient(to right, $white, $whiteDark);
    padding: 4rem 2rem;
    color: $blackLight;
    text-align: center;
}

.inputBlock{
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textField{
    width: 3.4rem;
    margin: 0 2rem !important;
}