@import './../../../scss/colors';

.resultWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: $whiteDark;
    border-left: $grey 1px solid;
    padding: 1rem;
    cursor: pointer;

    &:hover{
        background-color: rgba($white, .45);
    }
}

.user{
    &Image{
        background-image: url('./../../../images/userImage.png');
        background-size: cover;
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
    }

    &Name{
        color: $greyDark !important;
    }
}

.rightSide{
    flex-direction: column;
    line-height: 1.4rem;
    margin-right: 2rem;

    &Info{
        display: flex;
        flex-direction: column;
        &:not(:last-child){
            margin-bottom: 1.4rem;
        }
    }

    &Subtitle{
        color: $grey;
    }

    &Value{
        font-size: 1.4rem;
        color: $greyDark;
    }
}