$grey: rgb(131, 131, 131);
$greyLight: rgb(207, 207, 207);
$greyDark: rgb(56, 56, 56);

$white: rgb(230, 230, 230);
$whiteLight: rgb(255, 255, 255);
$whiteDark: rgb(211, 211, 211);

$black: rgb(32, 32, 32);
$blackLight: rgb(51, 51, 51);
$blackDark: rgb(3, 3, 3);

/////////////////////////////////

$green: rgb(45, 196, 53);
$greenLight: rgb(88, 228, 88);
$greenDark: rgb(36, 133, 40);

$yellow: rgb(181, 196, 45);
$yellowLight: rgb(214, 228, 88);
$yellowDark: rgb(127, 133, 36);