$grey: rgb(131, 131, 131);
$greyLight: rgb(207, 207, 207);
$greyDark: rgb(56, 56, 56);

$white: rgb(230, 230, 230);
$whiteLight: rgb(255, 255, 255);
$whiteDark: rgb(211, 211, 211);

$black: rgb(32, 32, 32);
$blackLight: rgb(51, 51, 51);
$blackDark: rgb(3, 3, 3);

/////////////////////////////////

$green: rgb(45, 196, 53);
$greenLight: rgb(88, 228, 88);
$greenDark: rgb(36, 133, 40);

$yellow: rgb(181, 196, 45);
$yellowLight: rgb(214, 228, 88);
$yellowDark: rgb(127, 133, 36);

$red: rgb(196, 68, 45);
$redLight: rgb(221, 139, 129);
$redDark: rgb(150, 101, 46);

$orange: rgb(196, 113, 45);
$orangeLight: rgb(228, 146, 99);
$orangeDark: rgb(133, 47, 36);

$blue: rgb(45, 85, 196);
$blueLight: rgb(109, 141, 230);
$blueDark: rgb(36, 62, 133);

$cyan: rgb(45, 166, 196);
$cyanLight: rgb(88, 207, 228);
$cyanDark: rgb(36, 114, 133);

$purple: rgb(116, 45, 196);
$purpleLight: rgb(147, 109, 235);
$purpleDark: rgb(73, 36, 133);

:export{
    grey: $grey;
    greyLight: $greyLight;
    greyDark: $greyDark;

    white: $white;
    whiteLight: $whiteLight;
    whiteDark: $whiteDark;

    black: $black;
    blackLight: $blackLight;
    blackDark: $blackDark;

    yellow: $yellow;
    yellowLight: $yellowLight;
    yellowDark: $yellowDark;

    green: $green;
    greenLight: $greenLight;
    greenDark: $greenDark;

    red: $red;
    redLight: $redLight;
    redDark: $redDark;

    orange: $orange;
    orangeLight: $orangeLight;
    orangeDark: $orangeDark;

    blue: $blue;
    blueLight: $blueLight;
    blueDark: $blueDark;

    cyan: $cyan;
    cyanLight: $cyanLight;
    cyanDark: $cyanDark;

    purple: $purple;
    purpleLight: $purpleLight;
    purpleDark: $purpleDark;
}