@import './../../../scss/colors';

.enterLinkDialog{
    padding: 2rem;
    background: linear-gradient(to top, $whiteDark, $white);
    width: 30rem;

    &Confirm{
        background-color: $green !important;
        width: 2.4rem;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;

        transition: background-color .1s ease-in-out;

        &:hover{
            background-color: $greenLight !important;
        }
    }
}

.linkInputBlock{
    display: flex;
}